<!DOCTYPE html>
<html>
<head>
  <title>TrackerSimulation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless current_user.nil?%>
  <h2>
    <%= link_to 'login', logout_path, :class => 'logout_button' %>
  </h2>
<% end %>


<%= yield %>

</body>
</html>
